# ==========================================================
# Configuração da base de dados PostGIS
# ==========================================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=igv

# ==========================================================
# Configuração de administração do GeoServer
# ==========================================================

GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver